@page "/questions"
@using blazor_test.Services
@using blazor_test.Models
@inject PhrasesService PhrasesService

<div>
@if(phrasesText is null){
    <p><em>Loading...</em></p>
} else {
    <p>@phrasesText[currentPhrase]</p>
}
</div>

<div>
    <button type="submit">Negativo</button>
    <button type="submit">Neutro</button>
    <button type="submit">Positivo</button>
</div>

@code{

    private List<string> phrasesText = new();

    private int currentPhrase = 0;
    protected override async Task OnInitializedAsync(){
        List<Phrase> phrases = await PhrasesService.GetPhrases(5);
        foreach(Phrase phrase in phrases){
            string phraseText = phrase.Text ?? "";
            phrasesText.Add(phraseText);
        }
    }
    
}