@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="CallQuestionButtonClicked">@buttonText</button>

@code{
    private string buttonText { get; set; } = "";
    [Parameter]
    public LabelEnum label { get; set; }
    [Parameter]
    public EventCallback<LabelEnum> QuestionButtonClicked { get; set; }
    protected override void OnInitialized(){
        switch(label){
            case LabelEnum.Negative:
                buttonText = "Negativo";
                break;
            case LabelEnum.Neutral:
                buttonText = "Neutro";
                break;
            case LabelEnum.Positive:
                buttonText = "Positivo";
                break;
            default:
                buttonText = "Indefinido";
                break;
        }
    } 
    private async Task CallQuestionButtonClicked(){
        await QuestionButtonClicked.InvokeAsync(label);
    }
}
