@using global::Features.Questions
@using global::Features.Questions.Helpers
@rendermode InteractiveServer

@namespace Features.Questions.Components

<button type="button" class="@labelInfo.RelatedButtonStyle me-2" style="width: 15%;" @onclick="CallQuestionButtonClicked">@labelInfo.Text</button>

@code{
    private LabelInfo labelInfo = new();
    [Parameter]
    public LabelEnum label { get; set; }
    [Parameter]
    public EventCallback<LabelEnum> QuestionButtonClicked { get; set; }
    protected override void OnInitialized(){
        labelInfo = LabelParser.ParseLabel(label);
    } 
    private async Task CallQuestionButtonClicked(){
        await QuestionButtonClicked.InvokeAsync(label);
    }
}
