@rendermode InteractiveServer

<button type="button" class="@labelInfo.RelatedButtonStyle" @onclick="CallQuestionButtonClicked">@labelInfo.Text</button>

@code{
    private LabelInfo labelInfo = new();
    [Parameter]
    public LabelEnum label { get; set; }
    [Parameter]
    public EventCallback<LabelEnum> QuestionButtonClicked { get; set; }
    protected override void OnInitialized(){
        labelInfo = LabelParser.ParseLabel(label);

    } 
    private async Task CallQuestionButtonClicked(){
        await QuestionButtonClicked.InvokeAsync(label);
    }
}
