@using Models.Core
@using Models.ORM
@using Repositories
@using Services
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using global::Features.Questions
@using global::Features.Questions.Components
@using global::Features.Questions.Helpers
@inherits QuestionsSection
@inject ProtectedLocalStorage ProtectedLocalStore
@inject AccessKeyService AccessKeyService
@inject LabelingService LabelingService
@inject IWebHostEnvironment WebHostEnvironment

@namespace Features.Questions.Components

@if(LabelingsResponse == null){
    <p><em>Respostas não encontradas</em></p>
} else {
<div>
    <h3>Revisão das classificações</h3>
    <hr>
    <button class="btn btn-primary mb-1" @onclick="ToFormSection">Refazer</button>
    <hr>
    <p>Se julgar que não precisa alterar as classificações, clique no botão 'Confirmar'</p>
    <button type="button" class="btn btn-primary mt-1 mb-3" data-bs-toggle="modal" data-bs-target="#confirmModal">Confirmar</button>
    @if(!accessKeyIdFound){
        <div class="text-danger">
            <p>Id de chave não encontrado, reinicie a página</p>
        </div>
    }
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Confirmação</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Verifique novamente se você deseja alterar alguma classificação. Clique em 'Enviar'
                        caso contrário.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="SendResponse">Enviar</button>
                </div>
            </div>

        </div>
    </div>
</div>
}

@code{
    [Parameter]
    public int AccessKeyId { get; set; }
    [CascadingParameter(Name = "Phrases")]
    public List<PhraseCore> Phrases { get; set; } = new();
    [Parameter]
    public List<Labeling> LabelingsResponse { get; set; } = new();
    [Parameter]
    public EventCallback<List<Labeling>> LabelingsResponseChanged { get; set; }
    
    private bool accessKeyIdFound = true; //By convention Id is 'found'
    private async Task SendResponse(){
        if(WebHostEnvironment.IsProduction() || WebHostEnvironment.IsStaging()){
            LabelingService.SendLabelings(LabelingsResponse);
            accessKeyIdFound = await AccessKeyService.Revoke(AccessKeyId);
        }
        if(accessKeyIdFound){
            await ToConcludedSection();
        }
    }

    private async void ToFormSection(){
        LabelingsResponse.Clear();
        await ProtectedLocalStore.DeleteAsync("labelings");
        var LabelingsResponseChangedTask = LabelingsResponseChanged.InvokeAsync(LabelingsResponse);
        var OnQuestionsStateChangedTask = OnQuestionsStateChanged(QuestionsStateEnum.Respond);
        Task.WaitAll(LabelingsResponseChangedTask, OnQuestionsStateChangedTask); 
    }
    private async Task ToConcludedSection(){
        await OnQuestionsStateChanged(QuestionsStateEnum.Concluded);
    }
}