@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 py-3" style="font-size: 18px;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Um erro não tratado ocorreu.
    <a href="" class="reload">Recarregue</a>
    <a class="dismiss">🗙</a>
</div>
